body {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: violet;
}

.KeyframeInterpolation, .json {
    display: inline-block;
    vertical-align: top;
}

.json {
    width: 400px;
    padding: 1em;
    margin: 1em;
    border: 1px solid lightgray;
}