@mixin control-outline {
  &:focus {
    outline: 3px solid #6cf;
  }
}

.KeyframeInterpolation {
  width: 300px;
  margin: 1em;
  border: 1px solid lightgray;

  h2 {
    font-size: 18px;
    color: gray;
    text-align: center;
  }

  .button-wrapper {
    margin: 1em;
    text-align: center;

    button {
      @include control-outline;
    }
  }

  .ColorControl {
    text-align: center;

    .color-chip {
      height: 50px;
    }

    .color-text {
      font-family: monospace;
    }

    input[type=range] {
      width: 95%;
      margin: 1em 0;
    }

    .timing {
      margin: 0.5em;
    }
  }

  .KeyframesList {
    padding: 0;
    list-style: none;
  }

  .Keyframe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    input[type=number], input[type=color] {
      @include control-outline;
      margin: 0 0.5em;
    }

    input[type=number] {
      width: 50px;
    }

    .delete {
      @include control-outline;
    }
  }
}
